@tailwind base;
@tailwind components;
@tailwind utilities;



.infinite {
    width: 50%;
    position: relative;
    animation: move linear 0.5s infinite;
}

@keyframes move {
    from {
        left:-100%
    }
    to {
        left: 100%;
    }
}
